{% extends "evoi/base.html" %}
{% block style %}

{% endblock style %}


{% block content %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
      <script src="/static/scripts/p5.dom.js"> </script>
      <script src="/static/scripts/vasarelly.js"> </script>

      <main id="main" role="main">
          <div class="album py-5 bg-light">
              <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">


                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Population</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/evolve/album/">My Album</a>
                    </li>


                </ul>


            </nav>




                  <div  id="drawing-section" class="row">

                      <evo-drawing v-for="(drawing, index) in drawings" v-bind:drawing="drawing"
                                   v-bind:key="drawing.id"
                                   v-on:delete-row="delete_drawing(index)"> </evo-drawing>

                  </div>
              </div>
          </div>
          </div>


          <div class="container">
          </div>

    </main>
{% endblock content %}


{% block scripts %}


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/static/scripts/album.js"></script>



    <script type="text/x-template" id="evodrawing-template">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div :id="drawing.id"  class="container  mt-2">
                </div>
                <div class="card-body">
                    <p class="card-text">   <small class="text-muted">[[drawing.id]]</small></p>


                    <div class="d-flex justify-content-between align-items-center">


                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
                            <button v-on:click="$emit('delete-row')" type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Save
                            </button>
                             <div class="dropdown-menu">
                                <button v-on:click="public" class="dropdown-item" type="button">Public</button>
                                <button v-on:click="private" class="dropdown-item" type="button">Private</button>
                            </div>

                            <p>[[drawing.visibility]]</p>


                        </div>

                    </div>
                </div>
            </div>
        </div>

    </script>



    <script>

    getAlbum('/evolve/get_my_album/')
        .then(sample => {

            console.log(sample);

       sample.data.forEach(function(element) {
        app.drawings.push(element);
        Vue.nextTick(function () {

          var temp =  new p5(s, element.id);
                temp.setChromosome(element.chromosome);
                temp.paint();
                });

        });



  });

    </script>

{% endblock scripts %}