{% extends "evoi/base.html" %}
{% block style %}



{% endblock style %}


{% block content %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
      <script src="/static/scripts/p5.dom.js"> </script>
      <script src="/static/scripts/vasarelly.js"> </script>

        <main id="main" role="main">


      <div class="album py-5 bg-light">
        <div class="container">

          <div  id="drawing-section" class="row">

  <evo-drawing v-for="drawing in drawings" v-bind:drawing="drawing" v-bind:key="drawing.id"> </evo-drawing>

            </div>
          </div>
        </div>
      </div>


            <div class="container">



</div>










    </main>
<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add to collection</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="input-group mb-3">
                        <input id="text-add-collection" type="text" class="form-control" placeholder="Collection Name" aria-label="Collection Name" aria-describedby="button-add-collection">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="button" id="button-add-collection">Create</button>
                        </div>
                    </div>


                    <div id="collection_list" class="list-group">



                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}

<script type="text/x-template" id="evodrawing-template-bak">
    <div class="container">
         <div :id="drawing.id"  class="container">

        </div>

        <h3 class="jumbotron-heading">[[drawing.name]]</h3>

        <p>
            <button id="get_more" type="button" class="btn btn-primary my-2">Get Another</button>
            <button id="ilike_0" type="button"  class="btn btn-success my-2 ilike">Like</button>

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Save to
            </button>
            <div class="dropdown-menu">
                <button v-on:click="public" class="dropdown-item" type="button">Public</button>
                <button v-on:click="private" class="dropdown-item" type="button">Private</button>
            </div>

        </div>
        </p>
    </div>
    </script>


    <script type="text/x-template" id="evodrawing-template">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div :id="drawing.id"  class="container  mt-2">
                </div>
                <div class="card-body">
                    <p class="card-text">   <small class="text-muted">[[drawing.id]]</small></p>


                    <div class="d-flex justify-content-between align-items-center">


                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>

                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Save
                            </button>
                            <div class="dropdown-menu">
                                <button v-on:click="public" class="dropdown-item" type="button">Public</button>
                                <button v-on:click="private" class="dropdown-item" type="button">Private</button>
                            </div>


                        </div>


                        <div class="dropdown">
                            <button class="btn btn-sm  dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-heart"></i> Love it</button>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button class="dropdown-item" type="button"> <i class="far fa-thumbs-up"></i> thumbs up</button>
                                <button class="dropdown-item" type="button"> <i class="far fa-heart"></i> love it</button>
                                <button class="dropdown-item" type="button"> <i class="far fa-meh"></i> meh</button>
                                <button class="dropdown-item" type="button"> <i class="far fa-thumbs-down"></i> thumbs up </button>

                            </div>
                        </div>



                    </div>


                </div>
            </div>
        </div>

    </script>

<script type="text/x-template" id="evodrawing-template-2">

 <div class="container mt-2">

<div class="card" style="width: 23rem;">
   <div :id="drawing.id"  class="container  mt-2">
   </div>

  <div class="card-body">
    <h5 class="card-title">[[drawing.name]]</h5>
    <button id="get_more" type="button" class="btn btn-primary my-2">Get Another</button>
            <button id="ilike_0" type="button"  class="btn btn-success my-2 ilike">Like</button>

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Save to
            </button>
            <div class="dropdown-menu">
                <button v-on:click="public" class="dropdown-item" type="button">Public</button>
                <button v-on:click="private" class="dropdown-item" type="button">Private</button>
            </div>

        </div>

  </div>
</div>
</div>
</script>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/static/scripts/index.js"></script>




    <script id="collections_template" type="x-tmpl-mustache">

            <li class="list-group-item flex-column align-items-start">
                     <div class="d-flex w-100  justify-content-between">
                         <h5 class="mb-1 text"> [[name]]  </h5>

                                   <button type="button" class="btn btn-primary add-to-collection" data-collection_id="[[id]]" >Save </button>

                     </div>
            </li>
    </script>





<script type="text/javascript">





$('#exampleModal').on('show.bs.modal', function (event) {

  get_collections( $(this), event);

});







function get_collections(modal, event ){

    var button = $(event.relatedTarget);
    var individual = button.data('individual');

    $.get( '/evolve/collections/',{})
                .done(function(data, textStatus, jqXHR) {
                            console.log(data);



            $("#collection_list").empty();

            Mustache.tags = ['[[', ']]'];
            var container_template = $('#collections_template').html();
            Mustache.parse(container_template);   // optional, speeds up future uses
            var rendered = "";

            data.collections.forEach(
                 function(current_collection, index, arr) {


                      rendered = Mustache.render(container_template, {
                                name: current_collection.name,
                                id: current_collection.id});

                      $("#collection_list").append(rendered);

                 });

            $(".add-to-collection").on("click",
                function () {

                    console.log('/evolve/collection/'.concat( $(this).data('collection_id'),individual));
                    if (sample) {

                        $.post('/evolve/collection/'.concat($(this).data('collection_id')), {individual:sample.sample[individual].id})
                            .done(function(data, textStatus, jqXHR) {
                                        console.log(data);
                            });
                    }
                 }
            );
    });

    }





$("#get_more").click(function () {
    if (sample) {
    //    dataRequest();
    }
});





$("#button-add-collection").click(function (event) {
    if (sample) {
        // Get index of item from the button element, id attribute
        // ilike_i
        // if we split on '_' then the index  is the second element of the resulting list

        $.post( '/evolve/collections/',{ name:$('#text-add-collection')[0].value})
            .done(function(data, textStatus, jqXHR) {
                        get_collections($("#exampleModal"),event);
            });
    }

    });

$(".ilike").click(function () {
    if (sample) {
        // Get index of item from the button element, id attribute
        // ilike_i
        // if we split on '_' then the index  is the second element of the resulting list
        var index = $(this)[0].id.split("_")[1];
        var individual = sample.sample[index];
        console.log(individual.id);

        $.post( '/evolve/ilike/',{individual:individual.id})
            .done(function(data, textStatus, jqXHR) {
                        console.log(data);
            });
    }

    });





//dataRequest();

getSample('/EvoSpace/', 3)
  .then(sample => {
        sample.sample.forEach(function(element) {
        app.drawings.push(element);

        var temp =  new p5(s, element.id);
        temp.setChromosome(element.chromosome);
        temp.paint();


});
       // console.log(sample.sample );
        //app.drawings.push({id: "pop:individual:5",name:"mario" });

  });



</script>


  {% endblock scripts %}


