{% extends "evoi/base.html" %}
{% block style %}



{% endblock style %}


{% block content %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
      <script src="/static/scripts/p5.dom.js"> </script>
      <script src="/static/scripts/vasarelly.js"> </script>

        <main role="main">



      <section class="jumbotron text-center">
         <div id="sketch-holder"  class="container">

         </div>
          <div class="container">

          <h1 id="title_0" class="jumbotron-heading">Album example</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <button id="get_more" type="button" class="btn btn-primary my-2">Get Another</button>
            <button id="ilike_0" type="button"  class="btn btn-success my-2 ilike">Like</button>
          </p>
        </div>
      </section>

        <div class="album py-5 bg-light">
        <div class="container">



          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

    </main>

{% endblock content %}

  {% block scripts %}




<script type="text/javascript">





$.ajaxSetup({
         beforeSend: function(xhr, settings) {
             function getCookie(name) {
                 var cookieValue = null;
                 if (document.cookie && document.cookie != '') {
                     var cookies = document.cookie.split(';');
                     for (var i = 0; i < cookies.length; i++) {
                         var cookie = jQuery.trim(cookies[i]);
                         // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
             }
             if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                 // Only send the token to relative URLs i.e. locally.
                 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
             }
         }
    });

$("#get_more").click(function () {
    if (sample) {

    dataRequest();

    }

});

$(".ilike").click(function () {
    if (sample) {
        // Get index of item from the button element, id attribute
        // ilike_i
        // if we split on '_' then the index  is the second element of the resulting list
        var index = $(this)[0].id.split("_")[1];
        var individual = sample.sample[index];
        console.log(individual.id);

        $.post( '/evolve/ilike/',{individual:individual.id})
            .done(function(data, textStatus, jqXHR) {
                        console.log(data);
            });
    }






    });




function dataRequest(){
        $.ajax(
                {
                    url: '/EvoSpace/',
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({"jsonrpc": "2.0", "method": "get_sample", "params": [1], "id": 1 }),
                    dataType: "json",
                    success: function(data, textStatus, jqXHR) {
                        //data = jQuery.parseJSON(data);
                        sample =data.result;
                        //Put them back
                        $("#get_more")[0].disabled = false;
                        $("#get_more")[0].innerHTML = "Get More";
                        $("#title_0")[0].innerHTML = sample.sample[0].id;


                        p5sketch.setChromosome(sample.sample[0].chromosome);
                        p5sketch.paint();

                        console.log(sample);
                        if  (data.result == null)
                            alert("No more paintings in evospace: respawn some samples") ;
                        },
                    error: function(jqXHR, textStatus, errorThrown)  {
                        alert ("Error:" + textStatus+" "+errorThrown+" "+jqXHR.responseText);}
                });
    }



dataRequest();

{% comment %}
$(document).ready(function () {



    var get_collections = function(){
        var user=$("#username").val();
        alert(user);
        $.ajax({
            type: "GET",
            url: "/get_user_collections/"+user+"/",
            dataType: "json",
            success: function(data) {

                $("#selectable").html("");
                //
                // Esto es un foreach
                //
                for (var i=0; i<data.collections.length; i++){
                    $('<a />',
                            {
                                //"class":"glyphicon glyphicon-folder-open",
                                href:"/get_collection/"+user+"/" + data.collections[i].id

                             }
                     ).append(

                            $('<li />' ,
                                    {   "class":"ui-widget-content folder",
                                        //"class":"glyphicon glyphicon-folder-open",
                                        text:  "   "+data.collections[i].name.substr(0,40)



                                    })


                    ).appendTo("#selectable");

                }

            }
        });

    };


 //   $(function() {
 //       $( "#selectable" ).selectable();
 //   });

    $.ajaxSetup({
         beforeSend: function(xhr, settings) {
             function getCookie(name) {
                 var cookieValue = null;
                 if (document.cookie && document.cookie != '') {
                     var cookies = document.cookie.split(';');
                     for (var i = 0; i < cookies.length; i++) {
                         var cookie = jQuery.trim(cookies[i]);
                         // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
             }
             if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                 // Only send the token to relative URLs i.e. locally.
                 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
             }
         }
    });




    $("#get_more").click(function () {
        if (sample )
        {
            var individuals = $(".ilike").length;
            sample.individuals_with_like=[];

            var value1= $("#input-21e").val();
            var value2= $("#input-22e").val()

            $("canvas").each(
                    function(i, element){
                        var slot_index = element.id.substr(4);
                        var timestamp = Date.now()



                            var username =$("#username").val();


                        //if ( $(this).hasClass("ilike"))
                        if ( $(this).hasClass("ilike"))
                        {
                            if (value1){
                                sample.sample[slot_index].fitness[username+":"+timestamp] = value1;
                                $(this).toggleClass("ilike");
                                sample.individuals_with_like.push(sample.sample[slot_index].id);
                                alert(value1)

                            }

                            if (value2){
                                sample.sample[slot_index].fitness[username+":"+timestamp] = value2;
                                $(this).toggleClass("ilike");
                                sample.individuals_with_like.push(sample.sample[slot_index].id);
                                alert(value2)

                            }
                            //sample.sample[slot_index].fitness[username+":"+timestamp] = 1;

                        }

                        sample.sample[slot_index].views += 1;
                        $("#input-21e").val(0);


                    }

            );


            //Put them back
            $("#get_more")[0].disabled = true;
            $("#get_more")[0].innerHTML = "Wait..."
            $.ajax(
                    {
                        url: '/EvoSpace/',
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({"jsonrpc": "2.0", "method": "putSample", "params": [sample], "id": 1}),

                        //data: {"jsonrpc": "2.0", "method": "putSample", "params": [sample], "id": 1},
                        dataType: "json",
                        success: function(data, textStatus, jqXHR) {
                            //  alert(sample.sample[0].chromosome);
                        },
                        error: function(jqXHR, textStatus, errorThrown)  {
                            alert ("Error: putSample" + textStatus+" "+errorThrown+" "+jqXHR.responseText);}

                    });

            hm.wHumanMsg('Likes:'+ individuals + ', new paintings received',{color: 'yellow',  displayLength: 400});

            //Get More!
        }

        dataRequest();


    });


    $("#evolve").click(function () {

        //Put them back
        $.ajax(
                {
                    url: '/EvoSpace/',
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({"jsonrpc": "2.0", "method": "evolve", "params": [16], "id": 1 }),
                    dataType: "json",
                    success: function(data, textStatus, jqXHR) {


                        hm.wHumanMsg('Success in evolution of population',{color: 'green',  displayLength: 400});

                    },

                    error: function(jqXHR, textStatus, errorThrown)  {
                        alert ("Error:" + textStatus+" "+errorThrown+" "+jqXHR.responseText);}

                });

    });

    $("#respawn").click(function () {

        //Put them back
        $.ajax(
                {
                    url: '/EvoSpace',
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({"jsonrpc": "2.0", "method": "respawn", "params": [2], "id": 1 }),
                    dataType: "json",
                    success: function(data, textStatus, jqXHR) {


                        hm.wHumanMsg('Samples respawned',{color: 'red',  displayLength: 400});

                    },

                    error: function(jqXHR, textStatus, errorThrown)  {
                        alert ("Error:" + textStatus+" "+errorThrown+" "+jqXHR.responseText);}

                });

    });



    function dataRequest(){
        $.ajax(
                {
                    url: '/EvoSpace/',
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({"jsonrpc": "2.0", "method": "getSample", "params": [2], "id": 1 }),
                    dataType: "json",
                    success: function(data, textStatus, jqXHR) {
                        //data = jQuery.parseJSON(data);
                        sample =data.result;
                        //Put them back
                        $("#get_more")[0].disabled = false;
                        $("#get_more")[0].innerHTML = "Get More"


                        if  (data.result == null)
                            alert("No more paintings in evospace: respawn some samples") ;


                        $("#slot0").each(
                                function(i, element){



                                    var bound = false;
                                    var chromosome = sample.sample[i].chromosome;

                                    function getPJS() {
                                        var pjs = Processing.getInstanceById(element.id);
                                        if(pjs!=null) {
                                            var chrome = pjs.getChromosome();
                                            //alert(chrome)
                                            chrome.length = 0;
                                            Array.prototype.push.apply(chrome, chromosome);
                                            pjs.setup();//Se resetea el canvas
                                            pjs.draw();
                                            bound = true; }
                                        if(!bound) setTimeout(getPJS, 50);
                                    }

                                    getPJS();




                                    slot_index = element.id.substr(4);

                                    element.nextElementSibling.childNodes[1].setAttribute(
                                        "href","/individual/"+sample.sample[slot_index].id.substr(15));
                                    element.nextElementSibling.childNodes[1].setAttribute(
                                            "target","_blank");
                                    element.nextElementSibling.childNodes[1].textContent = "id:" + sample.sample[slot_index].id.substr(15) ;


                                    var suma = 0;
                                    for (var index in sample.sample[slot_index].fitness){
                                        suma+=sample.sample[slot_index].fitness[index];
                                    }

                                    element.nextElementSibling.childNodes[3].textContent= suma +" likes";

                                }
                        );
                    },
                    error: function(jqXHR, textStatus, errorThrown)  {
                        alert ("Error:" + textStatus+" "+errorThrown+" "+jqXHR.responseText);}
                });
    }

    //alert("ready");
    //dataRequest();
        //me

    dataRequest();
   // get_collections();


    //setTimeout(dataRequest,5000);

});
{% endcomment %}
</script>


  {% endblock scripts %}


